
/* App.css */

/* Add any global styles if needed */

/* Style for the AppBar */
.MuiAppBar-root {
  background-color: white; /* Set the background color to white */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a grey shadow */
  height: 70px; /* Adjust the height as needed */
}

/* Style for the logo and options */
.logo-and-options {
  display: flex;
  align-items: center;
  height: 100%; /* Ensure the content takes full height */
}

/* Optional: Add spacing between the logo and options */
.logo-and-options span {
  margin-right: 16px;
}

/* Optional: Add spacing between the options */
.MuiButton-root {
  margin-right: 24px; /* Increase the spacing between options */
  font-size: 20px; /* Set the text size for the nav options */
  color: #333; /* Optional: Set the text color for the nav options */
}

/* New profile section */
.profile-section {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the profile section to the right */
}

/* Style for the profile picture */
.profile-picture {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  border-radius: 50%;
  margin-right: 8px;
}

/* Style for the profile name */
.profile-name {
  color: #333;
}
